@charset "utf-8";
/* CSS Document */

.big{
	text-align:center;	
	height:700px;
	width:95%;
	margin-top:10px;
}
.pic{
	width:33%;
	height:47%;
	margin-top:3%;
	float:left;
	text-align:center;
	position:relative;
}
.promotion{
	position:absolute;
	top:0px;
	left:170px;
	width:100px;
	height:30px;
	line-height:30px;
	-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
	z-index:1;
	background-color:#F00;
	color:#FFF;
	}

.pic img{
	width:65%;
	height:72%;
	z-index:0;
	
}
p{
	color:#00F;
	font-size:20px;
}
del{
	color:#666;
}
@media screen and (max-width: 768px){
	.pic{width:45%;}
}
@media screen and (max-width: 425px){
	.pic{width:90%;}