@charset "utf-8";
/* CSS Document */

nav{
	background-color:#0CC;
	text-decoration:none;
	height:30px;
	font-size:24px;
	padding-left:2%px;
}
nav a{
	width:15%;
	float:left;
	text-decoration:none;
	margin-left:3%;
	text-align:center;
	line-height:30px;
}

nav a:hover{
	color:#F36;
}
article{
	width:70%;
	height:720px;
	background-image: url(../images/back2.png);
	float:left;
	margin-bottom:10px;
}
aside{
	width:29%;
	height:720px;
	background-color:#6C6;
	float: right;
	margin-bottom:10px;
	font-size:18px;
}
footer{
	padding-top:10px;
	font-size:18px;
	height:150px;
	background-color:#CF6;
	clear:both;
	padding-left:1%;
}
aside a{
	text-decoration:none;
}
aside a:hover{
	color:#00C;
	font-size:18.5px;
}
aside img{
	height:110px;
	width:90%;
	margin-top:5px;
	
}
aside table td{
	
	width:50%;
	padding-right:5px;
}
h3{
	color:#F36;
	text-align:center;
	margin:0;
	height:40px;
	background-color:#3F0;
	line-height:40px;
}
.share{
	float:right;
	width:20%;
	height:30%;
}
.address{
	width:60%;
	float:left;
	padding-top:0;
}
.copyright{
	clear:both;
	text-align:center;
}
@media screen and (max-width: 768px){
	article{
		width:100%;
		height:1075px;
	}
	aside{
		width:100%;
	}
	footer{
		height:180px;
	}
	aside img{
	margin-left:17%;
	height:110px;
	width:60%;
	
}
}
@media screen and (max-width: 425px){
	nav{
		font-size:15px
	}
	footer{
		height:200px;
		font-size:15px;
	}
	article{
		height:1975px;
	}
	aside img{
	margin-left:0;
	width:90%;
	
	}
	.share{
		width:45%;
		height:15%;
	}
	.address{
		width:100%;
	}
	h3{
		line-height:30px;
		height:30px;
	}
}


